* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*=========================
    BUTTON
=========================*/
button {
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  background-color: #008cba;
  color: #fff;
}

.btn-primary:hover {
  background-color: #008080;
}

.btn-secondary {
  background-color: #eee;
  color: #333;
}

.btn-secondary:hover {
  color: #fff;
  background-color: rgb(66, 62, 62);
}

/*=====================
   DROPDOWN
======================*/

.dropdown-menu--container {
  height: 40px;
  border: 1px solid #eee;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-menu--box {
  width: 180px;
  position: absolute;
  left: 40%;
  margin-top: 100px;
}

.dropdown-menu--arrow {
  width: 35px;
  height: 40px;
  background: #ddd;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-menu--selected-item {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 10px 12px;
  vertical-align: middle;
}

.dropdown-menu--items div {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 12px;
  padding-left: 10px;
  border-radius: 3px;
}

.dropdown-menu--items div:hover {
  background-color: #eee;
}

.dropdown-menu--arrow-down {
  position: absolute;
  top: 17px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
}

.dropdown-menu--arrow-up {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
}

/*===============================
     INPUT
================================*/

.input {
  position: absolute;
  width: 180px;
  margin-top: 200px;
  left: 40%;
  padding: 5px;
}
